button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

input {
  line-height: normal;
}

ul {
  list-style: circle inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 300;
  font-family: Nunito, HelveticaNeue, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: #222;
}

.index {
  display: block;
  max-width: 1240px;
  margin: 0px auto;
}

.page {
  display: grid;
  grid-template-rows: 7.5rem 1fr;
  grid-row-gap: 10px;
  margin: 0px 20px;
}

.header {
  align-self: center;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-row: 1 / auto;
  grid-column-gap: 15px;
}

.menu {
  align-self: center;
  justify-self: end;
}

.menu a {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin-left: 15px;
  grid-column: 2 / auto;
}

.menuButton {
  display: inline;
  font-size: 1rem;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 0px;
}

.main {
  grid-row: 2 / auto;
}

.addJson {
  display: none;
}

.load {
  text-align: center;
}

.loadForm {
  margin: 7rem 0px 3rem;
}

.loadInput {
  width: 34rem;
  border-bottom: 1px solid rgba(79, 54, 203, 0.6);
  border-radius: 0px;
  border-top: none;
  border-left: 0px;
  border-right: 0px;
}

.loadButton {
  line-height: 39px;
  margin-left: 10px;
}

.predictorContainer {
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 1fr 800px; /*list, map*/
  /*ToDO max-width: calc(100vh + 10px);*/ 
  grid-column-gap: 10px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  overflow: visible;
  margin: 0px auto;
}

.predictorContainer table {
  margin: 0px auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border-color: grey;
}

.predictorContainer th {
  text-align: center;
  padding: 15px 15px 0px;
}

.matchTable {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 824px;
  padding-right: 10px;
}

.mapBar {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  margin-bottom: 10px;
}

.test4 {
  position: relative;
  margin-right: 10px;
  grid-column: 2 / auto;
}

.test4 table{
  text-align:left;
  margin: 0;
}

.test4 td{
  padding: 0px 8px;
  text-align: left;
  width: 30px;
}

.test4 th{
  padding: 0px 8px;
  text-align: left
}

.test4 th:nth-child(1){
  width: 60px;
}

.mapMain {
  position: relative;
}

.execute {
  width: 50px;
  height: 50px;
  position: relative;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px 0px 0px 1px;
  visibility:hidden
}

.trigger {
  color: #4cbb89;
  text-decoration: none;
  cursor: pointer;
}

.selectedMatch {
  background-color:  rgba(55, 215, 255, 0.199);
}
